<!doctype html>
<html>
<head>
    <title>Listener</title>
    <link rel="stylesheet" type="text/css" media="screen" href="file://{{HERE}}/static/pure-min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="file://{{HERE}}/static/style.css" />
</head>
<body>
<div class="main-window pure-g">
    <div class="side-menu pure-u-1-5">
        <div class="view-header main-view-header">Navigation</div>
    </div>
    <div class="main-view pure-u-4-5">
        <div class="view-header main-view-header">Recognition and Training</div>
        <ul class="final-results">
        </ul>
    </div>
</div>
<div class="templates" style="display: none;">
    <ul>
        <li class="final-result-item">
            <span data-property="uttid" class="utterance-id"></span>
            <span data-property="text" class="original-recognition"></span>
            <button data-action="listen" class="send-event" type="button">Listen</button>
            <ul class="nbest" class="other-options">
                
            </ul>
        </li>
        <li class="nbest-result-item">
            <span data-property="text"></span>
            <button data-action="nbest-correction" class="choose-alternate" class="send-event" type="button">Correct</button>
        </li>
    </ul>
</div>
<script src="file://{{HERE}}/static/jquery-2.1.1.js"></script>
<script src="file://{{HERE}}/static/mainwindow.js"></script>
</body>
</html>
